* {
	box-sizing: border-box;
	font-family: 'Droid Sans', sans-serif;
}

body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	color: #333;
	position: relative;
	overflow: hidden;
}

#droplet {
    width: 50px;
    display: inline-block;
    margin-right: 12px;
    float: left;
}

.red {
	background-color: #ba4242
}

.blue {
	background-color: #366cac
}

.red, .blue {
	margin: 0;
	width: 50%;
	float: left;
	height: 100%;
}

.score {
	font-family: Verdana;
	color: white;
	font-size: 25em;
	text-align: center;
	vertical-align: middle;
	line-height: 50%;
}
