/* EDIT */

.editing {
    display: flex;
    flex-flow: row;
}

.buttons {
    display: flex;
    flex-flow: column;
    align-items: center;
    flex: 1;
}

.buttons * {
    width: 10em;
    height: 3em;
    border-radius: 7px;
    margin-bottom: 2em;
    text-align: center;
    line-height: 3em;
}

#red * {
    background-color: #ba4242;
}

#blue * {
    background-color: #366cac;
}
