html, body {
    background-color: #3e3e3e;
}

.row {
    display: flex;
    flex: 2;
    background-color: #3e3e3e;
    margin-bottom: 0.5em;
    margin-left: -6em;
    justify-content: center;
}

.header.row {
    justify-content: space-between;
    align-items: center;
    width: calc(50% + 3em);
    margin: 2em auto;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 0.5em;
}

.col {
    display: flex;
    border-radius: 10px;
}

.content {
    align-items: center;
    padding: 1em;
    background-color: #272727;
    border-radius: 10px;
}

.match {
    flex: 0 0 5em;
    display: flex;
}

.match .content {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: .75;
}

.match-label {
    font-size: .6em;
    margin: .5em 1em;
    margin-top: 0;
}

.match-number {
    font-size: 1.25em;
}

.join {
    display: flex;
    flex: 0 0 50%;
    margin-left: 1em;
}

.join.col * {
    display: flex;
    flex: 1;
}

.join .content {
    flex: 1 1 100%;
}

.transparent.button {
    flex: 0 0 10em;
    display: flex;
    justify-content: center;
}

.transparent.button * {
    flex: 1 1 100%;
    align-items: center;
    justify-content: center;
}

.transparent.button:active {
    color: #CBC9C9;
    border-color: #CBC9C9;
}

.left {
    justify-content: flex-start;
    margin: 0 1em;
    text-align: left;

}

.left * {
    flex: 0 1 auto;
}

.right {
    justify-content: flex-end;
    margin: 0 1em;
    text-align: right;
}

.right * {
    flex: 0 1 auto;
}

.hogu.icon {
    display: inline;
    flex: 0;
}

.no-matches {
    width: calc(50% + 3em);
    margin: auto;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .match {
        display: none;
    }
}
