/* SCORING MATCH */

.header {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.header * {
    background-color: #272727;
}

.match-info {
    width: 15vw;
    display: block;
    position: relative;
    margin: auto;
    text-align: center;
}

.round {
    font-size: 3vw;
}

.time {
    font-size: 5vw;
    margin-bottom: 1vw;
}

.scoring {
    height: 100%;
}

.scoring .red, .scoring .blue {
    margin: 0;
    width: 50%;
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scoring .red {
    background-color: #ba4242;
}

.scoring .blue {
    background-color: #366cac;
}

.score {
    font-family: Verdana;
    font-weight: bold;
    color: white;
    font-size: 22vw;
    text-align: center;
    vertical-align: middle;
}

.penalties {
    position: absolute;
    bottom: 0;
    background-color: rgba(39, 39, 39, 0.9);
    height: 4em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#red-penalty, #blue-penalty {
    display: flex;
    justify-content: space-around;
}

#red-penalty {
    flex-flow: row;
}

#blue-penalty {
    flex-flow: row-reverse;
}

.penalty {
    width: 2.5em;
    height: 2.5em;
    border-radius: 1.25em;
    flex-shrink: 0;
    margin: 0 1em;
}

.kyong-go.penalty {
    background-color: #FFD046;
}

.gam-jeom.penalty {
    background-color: #960200;
}

.blink {
    color: #9EF83C !important;
    animation: blinker steps(1) 1500ms infinite;
}

@keyframes blinker {
    0% { visibility: visible; }
    50% { visibility: hidden; }
    100% { visibility: visible; }
}
